{% extends 'base.html' %}
{% block content%}
<main class="container mt-3 mb-5">
	<h3 class="border-bottom pb-1 my-4">{{news.catgeory.title}}</h3>
	<!-- News Box -->
    {% for news in all_news %}
	<div class="card mb-4 shadow rounded-3">
	  <div class="row no-gutters">
	    <div class="col-md-3">
	      <img src="/media/{{news.image}}" class="card-img img-fluid" alt="{{news.title}}">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title fs-2">{{news.title}}</h5>
	        <p class="card-text text-truncate">{{news.add_time}} • {{news.author}} • {{news.description}}</p>
	        <p class="card-text"><a href="/article/{{news.id}}" class="btn btn-sm btn-primary">Read</a></p>
	      </div>
	    </div>
	  </div>
	</div>
{% endfor %}
</main>
{% endblock%}